
<div class="container" >
  <div  *ngFor="let monthData of monthWiseData" >
    <app-month [monthData]="monthData" ></app-month>
  </div>
  <span class="border"></span>
</div>

<hr>
<h5>Scale</h5>
  <div class="range">
    <span >Less</span>
    <div style="width: 10px; height: 10px; background-color: #EBEDF0;" ></div>
    <div style="width: 10px; height: 10px; background-color: #9BE9A8;" ></div>
    <div style="width: 10px; height: 10px; background-color: #40C463;" ></div>
    <div style="width: 10px; height: 10px; background-color: #30A14E;" ></div>
    <div style="width: 10px; height: 10px; background-color: #216E39;" ></div>
    <span>More</span>
  </div>


